In [2]:
import pandas as pd

In [3]:
dweather = pd.read_csv('C:\Asus WebStorage\psabin@gmail.com\MySyncFolder\Data Science Course\Capital Bikeshare\CSB_2021-2023_Daily_Weather.csv')
hweather = pd.read_csv('C:\Asus WebStorage\psabin@gmail.com\MySyncFolder\Data Science Course\Capital Bikeshare\CSB_2021-2023_Hourly_Weather.csv')

In [4]:
display(dweather.head())
display(hweather.head())

,Date,Casual,Member,Total_rides,weathercode (wmo code),temperature_2m_mean (°C),apparent_temperature_mean (°C),windspeed_10m_max (km/h)
0,2021-01-01,371,590,961,63,2.3,-0.9,10.6
1,2021-01-02,2874,2844,5718,61,7.6,4.8,19.1
2,2021-01-03,495,1133,1628,63,3.9,0.9,13.0
3,2021-01-04,907,2074,2981,3,4.1,1.0,13.3
4,2021-01-05,1057,2004,3061,51,4.0,1.4,9.2

,Date,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h)
0,2021-01-01,0,20.0,26.0,46.0,2.4,90,1,10.2
1,2021-01-01,1,23.0,23.0,46.0,1.8,88,1,10.0
2,2021-01-01,2,20.0,28.0,48.0,1.1,87,2,10.1
3,2021-01-01,3,9.0,7.0,16.0,1.6,81,2,10.6
4,2021-01-01,4,7.0,5.0,12.0,1.6,77,2,9.9

In [21]:
display(hweather.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21864 entries, 0 to 21863
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          21864 non-null  datetime64[ns]
 1   hour          21864 non-null  int64
 2   casual        21864 non-null  float64
 3   member        21853 non-null  float64
 4   total_rides   21853 non-null  float64
 5   temperature   21864 non-null  float64
 6   rel_humidity  21864 non-null  int64
 7   weather_code  21864 non-null  int64
 8   wind_speed    21864 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(3)
memory usage: 1.5 MB

None

In [5]:
display(dweather.describe())
display(hweather.describe())

,Casual,Member,Total_rides,weathercode (wmo code),temperature_2m_mean (°C),apparent_temperature_mean (°C),windspeed_10m_max (km/h)
count,911.000000,911.000000,911.000000,911.000000,911.000000,911.000000,911.000000
mean,3607.552141,5372.278814,8979.830955,28.105379,14.019868,12.792536,15.684852
std,2087.382795,2046.922096,3778.061891,28.319602,8.953601,11.632842,5.444250
min,174.000000,323.000000,497.000000,0.000000,-9.100000,-15.200000,5.600000
25%,1909.500000,3908.000000,6240.500000,2.000000,6.600000,2.900000,11.700000
50%,3336.000000,5411.000000,8991.000000,3.000000,14.300000,12.500000,14.500000
75%,5004.000000,6843.500000,11926.500000,55.000000,22.000000,22.800000,18.900000
max,12839.000000,10657.000000,19531.000000,75.000000,30.100000,34.700000,36.700000

,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h)
count,21864.000000,21853.000000,21853.000000,21853.000000,21864.000000,21864.000000,21864.000000,21864.000000
mean,11.500000,150.390335,223.957626,374.347961,14.021030,68.338685,8.489984,10.267755
std,6.922345,162.049422,200.588576,343.928606,9.581512,19.529426,18.955336,5.106673
min,0.000000,0.000000,0.000000,1.000000,-12.800000,19.000000,0.000000,0.000000
25%,5.750000,26.000000,50.000000,78.000000,6.200000,52.000000,0.000000,6.800000
50%,11.500000,95.000000,186.000000,292.000000,14.300000,69.000000,1.000000,9.300000
75%,17.250000,220.000000,341.000000,568.000000,22.000000,85.000000,3.000000,12.900000
max,23.000000,1206.000000,1264.000000,1965.000000,36.400000,100.000000,75.000000,36.700000

In [6]:
display(hweather.isna().sum())
display(dweather.isna().sum())

Date                        0
Hour                        0
Casual                     11
Member                     11
Total_rides                11
temperature_2m (°C)         0
relativehumidity_2m (%)     0
weathercode (wmo code)      0
windspeed_10m (km/h)        0
dtype: int64

Date                              0
Casual                            0
Member                            0
Total_rides                       0
weathercode (wmo code)            0
temperature_2m_mean (°C)          0
apparent_temperature_mean (°C)    0
windspeed_10m_max (km/h)          0
dtype: int64

In [7]:
print(hweather.columns)
hweather.rename(columns={'Date': 'date', 'Hour': 'hour', 'Casual': 'casual', 'Member': 'member', 'Total_rides': 'total_rides',
       'temperature_2m (°C)': 'temperature', 'relativehumidity_2m (%)': 'rel_humidity',
       'weathercode (wmo code)': 'weather_code', 'windspeed_10m (km/h)': 'wind_speed'}, inplace=True)
display(hweather.head())

Index(['Date', 'Hour', 'Casual', 'Member', 'Total_rides',
       'temperature_2m (°C)', 'relativehumidity_2m (%)',
       'weathercode (wmo code)', 'windspeed_10m (km/h)'],
      dtype='object')

,date,hour,casual,member,total_rides,temperature,rel_humidity,weather_code,wind_speed
0,2021-01-01,0,20.0,26.0,46.0,2.4,90,1,10.2
1,2021-01-01,1,23.0,23.0,46.0,1.8,88,1,10.0
2,2021-01-01,2,20.0,28.0,48.0,1.1,87,2,10.1
3,2021-01-01,3,9.0,7.0,16.0,1.6,81,2,10.6
4,2021-01-01,4,7.0,5.0,12.0,1.6,77,2,9.9

In [8]:
dweather.rename(str.lower, axis='columns', inplace=True)
display(dweather.head())

,date,casual,member,total_rides,weathercode (wmo code),temperature_2m_mean (°c),apparent_temperature_mean (°c),windspeed_10m_max (km/h)
0,2021-01-01,371,590,961,63,2.3,-0.9,10.6
1,2021-01-02,2874,2844,5718,61,7.6,4.8,19.1
2,2021-01-03,495,1133,1628,63,3.9,0.9,13.0
3,2021-01-04,907,2074,2981,3,4.1,1.0,13.3
4,2021-01-05,1057,2004,3061,51,4.0,1.4,9.2

In [15]:
dweather.rename({'weathercode (wmo code)': 'weather_code', 'apparent_temperature_mean (°c)': 'apparent_temp', 'windspeed_10m_max (km/h)': 'wind speed'}, axis='columns', inplace=True)
display(dweather.head())

,date,casual,member,total_rides,weather_code,mean_temp,apparent_temp,wind speed
0,2021-01-01,371,590,961,63,2.3,-0.9,10.6
1,2021-01-02,2874,2844,5718,61,7.6,4.8,19.1
2,2021-01-03,495,1133,1628,63,3.9,0.9,13.0
3,2021-01-04,907,2074,2981,3,4.1,1.0,13.3
4,2021-01-05,1057,2004,3061,51,4.0,1.4,9.2

In [12]:
dweather['date'] = pd.to_datetime(dweather['date'])
display(dweather.head())

,date,casual,member,total_rides,weathercode (wmo code),mean_temp,apparent_temperature_mean (°c),windspeed_10m_max (km/h)
0,2021-01-01,371,590,961,63,2.3,-0.9,10.6
1,2021-01-02,2874,2844,5718,61,7.6,4.8,19.1
2,2021-01-03,495,1133,1628,63,3.9,0.9,13.0
3,2021-01-04,907,2074,2981,3,4.1,1.0,13.3
4,2021-01-05,1057,2004,3061,51,4.0,1.4,9.2

In [14]:
hweather['date'] = pd.to_datetime(hweather['date'])
display(hweather.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21864 entries, 0 to 21863
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          21864 non-null  datetime64[ns]
 1   hour          21864 non-null  int64
 2   casual        21853 non-null  float64
 3   member        21853 non-null  float64
 4   total_rides   21853 non-null  float64
 5   temperature   21864 non-null  float64
 6   rel_humidity  21864 non-null  int64
 7   weather_code  21864 non-null  int64
 8   wind_speed    21864 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(3)
memory usage: 1.5 MB

None

In [ ]:
copy_dweather = dweather.copy()
copy_hweather = hweather.copy()

In [18]:
display(hweather.tail(15))

,date,hour,casual,member,total_rides,temperature,rel_humidity,weather_code,wind_speed
21849,2023-06-30,20,272.0,412.0,684.0,23.6,92,3,9.0
21850,2023-06-30,21,247.0,324.0,571.0,22.9,92,3,10.5
21851,2023-06-30,22,172.0,266.0,438.0,22.5,93,3,10.6
21852,2023-06-30,23,177.0,223.0,400.0,22.1,93,1,9.9
21853,2021-01-21,3,NaN,NaN,NaN,-3.1,73,0,5.1
21854,2021-01-22,3,NaN,NaN,NaN,0.4,71,0,11.2
21855,2021-02-02,3,NaN,NaN,NaN,0.3,86,71,19.8
21856,2021-02-03,2,NaN,NaN,NaN,-1.2,71,3,20.6
21857,2021-02-09,1,NaN,NaN,NaN,-4.0,82,1,7.8
21858,2021-02-19,2,NaN,NaN,NaN,-1.1,94,71,10.9
21859,2021-02-19,3,NaN,NaN,NaN,-1.6,93,51,10.4
21860,2021-03-14,2,NaN,NaN,NaN,2.9,56,0,13.9
21861,2022-01-04,2,NaN,NaN,NaN,-8.7,77,0,10.1
21862,2022-03-13,2,NaN,NaN,NaN,-5.1,50,0,21.1
21863,2023-03-12,2,NaN,NaN,NaN,0.9,72,0,6.4

In [22]:
hweather['member'] = hweather['casual'].fillna(0)
hweather['total_rides'] = hweather['casual'].fillna(0)
display(hweather.tail(15))

,date,hour,casual,member,total_rides,temperature,rel_humidity,weather_code,wind_speed
21849,2023-06-30,20,272.0,272.0,272.0,23.6,92,3,9.0
21850,2023-06-30,21,247.0,247.0,247.0,22.9,92,3,10.5
21851,2023-06-30,22,172.0,172.0,172.0,22.5,93,3,10.6
21852,2023-06-30,23,177.0,177.0,177.0,22.1,93,1,9.9
21853,2021-01-21,3,0.0,0.0,0.0,-3.1,73,0,5.1
21854,2021-01-22,3,0.0,0.0,0.0,0.4,71,0,11.2
21855,2021-02-02,3,0.0,0.0,0.0,0.3,86,71,19.8
21856,2021-02-03,2,0.0,0.0,0.0,-1.2,71,3,20.6
21857,2021-02-09,1,0.0,0.0,0.0,-4.0,82,1,7.8
21858,2021-02-19,2,0.0,0.0,0.0,-1.1,94,71,10.9
21859,2021-02-19,3,0.0,0.0,0.0,-1.6,93,51,10.4
21860,2021-03-14,2,0.0,0.0,0.0,2.9,56,0,13.9
21861,2022-01-04,2,0.0,0.0,0.0,-8.7,77,0,10.1
21862,2022-03-13,2,0.0,0.0,0.0,-5.1,50,0,21.1
21863,2023-03-12,2,0.0,0.0,0.0,0.9,72,0,6.4

In [28]:
display(dweather['weather_code'].value_counts())
display(hweather['weather_code'].value_counts())

weather_code
3     186
1     145
51    130
2     102
63     87
61     80
53     60
0      51
55     28
73     14
65     10
71      9
75      9
Name: count, dtype: int64

weather_code
0     8581
1     5057
3     3094
2     2122
51    1362
53     598
61     399
63     222
55     193
71     101
73      90
75      28
65      17
Name: count, dtype: int64

In [29]:
day_weather = dweather.copy()
hour_weather = hweather.copy()

In [31]:
json_data = {
	"0":{
		"day":{
			"description":"Sunny",
			"image":"http://openweathermap.org/img/wn/01d@2x.png"
		},
		"night":{
			"description":"Clear",
			"image":"http://openweathermap.org/img/wn/01n@2x.png"
		}
	},
	"1":{
		"day":{
			"description":"Mainly Sunny",
			"image":"http://openweathermap.org/img/wn/01d@2x.png"
		},
		"night":{
			"description":"Mainly Clear",
			"image":"http://openweathermap.org/img/wn/01n@2x.png"
		}
	},
	"2":{
		"day":{
			"description":"Partly Cloudy",
			"image":"http://openweathermap.org/img/wn/02d@2x.png"
		},
		"night":{
			"description":"Partly Cloudy",
			"image":"http://openweathermap.org/img/wn/02n@2x.png"
		}
	},
	"3":{
		"day":{
			"description":"Cloudy",
			"image":"http://openweathermap.org/img/wn/03d@2x.png"
		},
		"night":{
			"description":"Cloudy",
			"image":"http://openweathermap.org/img/wn/03n@2x.png"
		}
	},
	"45":{
		"day":{
			"description":"Foggy",
			"image":"http://openweathermap.org/img/wn/50d@2x.png"
		},
		"night":{
			"description":"Foggy",
			"image":"http://openweathermap.org/img/wn/50n@2x.png"
		}
	},
	"48":{
		"day":{
			"description":"Rime Fog",
			"image":"http://openweathermap.org/img/wn/50d@2x.png"
		},
		"night":{
			"description":"Rime Fog",
			"image":"http://openweathermap.org/img/wn/50n@2x.png"
		}
	},
	"51":{
		"day":{
			"description":"Light Drizzle",
			"image":"http://openweathermap.org/img/wn/09d@2x.png"
		},
		"night":{
			"description":"Light Drizzle",
			"image":"http://openweathermap.org/img/wn/09n@2x.png"
		}
	},
	"53":{
		"day":{
			"description":"Drizzle",
			"image":"http://openweathermap.org/img/wn/09d@2x.png"
		},
		"night":{
			"description":"Drizzle",
			"image":"http://openweathermap.org/img/wn/09n@2x.png"
		}
	},
	"55":{
		"day":{
			"description":"Heavy Drizzle",
			"image":"http://openweathermap.org/img/wn/09d@2x.png"
		},
		"night":{
			"description":"Heavy Drizzle",
			"image":"http://openweathermap.org/img/wn/09n@2x.png"
		}
	},
	"56":{
		"day":{
			"description":"Light Freezing Drizzle",
			"image":"http://openweathermap.org/img/wn/09d@2x.png"
		},
		"night":{
			"description":"Light Freezing Drizzle",
			"image":"http://openweathermap.org/img/wn/09n@2x.png"
		}
	},
	"57":{
		"day":{
			"description":"Freezing Drizzle",
			"image":"http://openweathermap.org/img/wn/09d@2x.png"
		},
		"night":{
			"description":"Freezing Drizzle",
			"image":"http://openweathermap.org/img/wn/09n@2x.png"
		}
	},
	"61":{
		"day":{
			"description":"Light Rain",
			"image":"http://openweathermap.org/img/wn/10d@2x.png"
		},
		"night":{
			"description":"Light Rain",
			"image":"http://openweathermap.org/img/wn/10n@2x.png"
		}
	},
	"63":{
		"day":{
			"description":"Rain",
			"image":"http://openweathermap.org/img/wn/10d@2x.png"
		},
		"night":{
			"description":"Rain",
			"image":"http://openweathermap.org/img/wn/10n@2x.png"
		}
	},
	"65":{
		"day":{
			"description":"Heavy Rain",
			"image":"http://openweathermap.org/img/wn/10d@2x.png"
		},
		"night":{
			"description":"Heavy Rain",
			"image":"http://openweathermap.org/img/wn/10n@2x.png"
		}
	},
	"66":{
		"day":{
			"description":"Light Freezing Rain",
			"image":"http://openweathermap.org/img/wn/10d@2x.png"
		},
		"night":{
			"description":"Light Freezing Rain",
			"image":"http://openweathermap.org/img/wn/10n@2x.png"
		}
	},
	"67":{
		"day":{
			"description":"Freezing Rain",
			"image":"http://openweathermap.org/img/wn/10d@2x.png"
		},
		"night":{
			"description":"Freezing Rain",
			"image":"http://openweathermap.org/img/wn/10n@2x.png"
		}
	},
	"71":{
		"day":{
			"description":"Light Snow",
			"image":"http://openweathermap.org/img/wn/13d@2x.png"
		},
		"night":{
			"description":"Light Snow",
			"image":"http://openweathermap.org/img/wn/13n@2x.png"
		}
	},
	"73":{
		"day":{
			"description":"Snow",
			"image":"http://openweathermap.org/img/wn/13d@2x.png"
		},
		"night":{
			"description":"Snow",
			"image":"http://openweathermap.org/img/wn/13n@2x.png"
		}
	},
	"75":{
		"day":{
			"description":"Heavy Snow",
			"image":"http://openweathermap.org/img/wn/13d@2x.png"
		},
		"night":{
			"description":"Heavy Snow",
			"image":"http://openweathermap.org/img/wn/13n@2x.png"
		}
	},
	"77":{
		"day":{
			"description":"Snow Grains",
			"image":"http://openweathermap.org/img/wn/13d@2x.png"
		},
		"night":{
			"description":"Snow Grains",
			"image":"http://openweathermap.org/img/wn/13n@2x.png"
		}
	},
	"80":{
		"day":{
			"description":"Light Showers",
			"image":"http://openweathermap.org/img/wn/09d@2x.png"
		},
		"night":{
			"description":"Light Showers",
			"image":"http://openweathermap.org/img/wn/09n@2x.png"
		}
	},
	"81":{
		"day":{
			"description":"Showers",
			"image":"http://openweathermap.org/img/wn/09d@2x.png"
		},
		"night":{
			"description":"Showers",
			"image":"http://openweathermap.org/img/wn/09n@2x.png"
		}
	},
	"82":{
		"day":{
			"description":"Heavy Showers",
			"image":"http://openweathermap.org/img/wn/09d@2x.png"
		},
		"night":{
			"description":"Heavy Showers",
			"image":"http://openweathermap.org/img/wn/09n@2x.png"
		}
	},
	"85":{
		"day":{
			"description":"Light Snow Showers",
			"image":"http://openweathermap.org/img/wn/13d@2x.png"
		},
		"night":{
			"description":"Light Snow Showers",
			"image":"http://openweathermap.org/img/wn/13n@2x.png"
		}
	},
	"86":{
		"day":{
			"description":"Snow Showers",
			"image":"http://openweathermap.org/img/wn/13d@2x.png"
		},
		"night":{
			"description":"Snow Showers",
			"image":"http://openweathermap.org/img/wn/13n@2x.png"
		}
	},
	"95":{
		"day":{
			"description":"Thunderstorm",
			"image":"http://openweathermap.org/img/wn/11d@2x.png"
		},
		"night":{
			"description":"Thunderstorm",
			"image":"http://openweathermap.org/img/wn/11n@2x.png"
		}
	},
	"96":{
		"day":{
			"description":"Light Thunderstorms With Hail",
			"image":"http://openweathermap.org/img/wn/11d@2x.png"
		},
		"night":{
			"description":"Light Thunderstorms With Hail",
			"image":"http://openweathermap.org/img/wn/11n@2x.png"
		}
	},
	"99":{
		"day":{
			"description":"Thunderstorm With Hail",
			"image":"http://openweathermap.org/img/wn/11d@2x.png"
		},
		"night":{
			"description":"Thunderstorm With Hail",
			"image":"http://openweathermap.org/img/wn/11n@2x.png"
		}
	}
}

# Create a mapping dictionary
mapping_dict = {}
for code, info in json_data.items():
    mapping_dict[int(code)] = info['day']['description']
    
day_weather['weather_code'] = day_weather['weather_code'].map(mapping_dict)
display(day_weather.head())

,date,casual,member,total_rides,weather_code,mean_temp,apparent_temp,wind speed
0,2021-01-01,371,590,961,Rain,2.3,-0.9,10.6
1,2021-01-02,2874,2844,5718,Light Rain,7.6,4.8,19.1
2,2021-01-03,495,1133,1628,Rain,3.9,0.9,13.0
3,2021-01-04,907,2074,2981,Cloudy,4.1,1.0,13.3
4,2021-01-05,1057,2004,3061,Light Drizzle,4.0,1.4,9.2

In [32]:
display(day_weather['weather_code'].value_counts())

weather_code
Cloudy           186
Mainly Sunny     145
Light Drizzle    130
Partly Cloudy    102
Rain              87
Light Rain        80
Drizzle           60
Sunny             51
Heavy Drizzle     28
Snow              14
Heavy Rain        10
Light Snow         9
Heavy Snow         9
Name: count, dtype: int64

In [34]:
display(dweather['weather_code'].value_counts())

weather_code
3     186
1     145
51    130
2     102
63     87
61     80
53     60
0      51
55     28
73     14
65     10
71      9
75      9
Name: count, dtype: int64

In [33]:
hour_weather['weather_code'] = hour_weather['weather_code'].map(mapping_dict)
display(hour_weather['weather_code'].value_counts())

weather_code
Sunny            8581
Mainly Sunny     5057
Cloudy           3094
Partly Cloudy    2122
Light Drizzle    1362
Drizzle           598
Light Rain        399
Rain              222
Heavy Drizzle     193
Light Snow        101
Snow               90
Heavy Snow         28
Heavy Rain         17
Name: count, dtype: int64

In [38]:
# List of weather conditions indicating precipitation
precipitation_conditions = ['Light Drizzle', 'Drizzle', 'Heavy Drizzle', 'Light Rain', 'Rain', 'Heavy Rain', 'Light Snow', 'Snow', 'Heavy Snow']

# Create the 'precipitation' column
day_weather['precipitation'] = day_weather['weather'].str.contains('|'.join(precipitation_conditions)).astype(bool)

In [40]:
hour_weather['precipitation'] = hour_weather['weather'].str.contains('|'.join(precipitation_conditions)).astype(bool)

display(hour_weather.head())

,date,hour,casual,member,total_rides,temperature,rel_humidity,weather,wind_speed,precipitation
0,2021-01-01,0,20.0,20.0,20.0,2.4,90,Mainly Sunny,10.2,False
1,2021-01-01,1,23.0,23.0,23.0,1.8,88,Mainly Sunny,10.0,False
2,2021-01-01,2,20.0,20.0,20.0,1.1,87,Partly Cloudy,10.1,False
3,2021-01-01,3,9.0,9.0,9.0,1.6,81,Partly Cloudy,10.6,False
4,2021-01-01,4,7.0,7.0,7.0,1.6,77,Partly Cloudy,9.9,False

In [42]:
# Create a 'weekend' column, setting the values to False by default
day_weather['weekend'] = False

# Update the rows corresponding to weekends (1, 2, 8, 9, 15, 16, ...) to True
day_weather.loc[day_weather.index % 7 == 1, 'weekend'] = True
day_weather.loc[day_weather.index % 7 == 2, 'weekend'] = True

In [46]:
display(hour_weather.head(200))

,date,hour,casual,member,total_rides,temperature,rel_humidity,weather,wind_speed,precipitation
0,2021-01-01,0,20.0,20.0,20.0,2.4,90,Mainly Sunny,10.2,False
1,2021-01-01,1,23.0,23.0,23.0,1.8,88,Mainly Sunny,10.0,False
2,2021-01-01,2,20.0,20.0,20.0,1.1,87,Partly Cloudy,10.1,False
3,2021-01-01,3,9.0,9.0,9.0,1.6,81,Partly Cloudy,10.6,False
4,2021-01-01,4,7.0,7.0,7.0,1.6,77,Partly Cloudy,9.9,False
...,...,...,...,...,...,...,...,...,...,...
195,2021-01-09,3,11.0,11.0,11.0,-0.4,58,Partly Cloudy,16.7,False
196,2021-01-09,4,2.0,2.0,2.0,-0.5,54,Partly Cloudy,17.3,False
197,2021-01-09,5,5.0,5.0,5.0,-0.9,51,Partly Cloudy,17.4,False
198,2021-01-09,6,8.0,8.0,8.0,-1.2,49,Mainly Sunny,16.2,False
199,2021-01-09,7,15.0,15.0,15.0,-1.4,48,Mainly Sunny,16.0,False

In [47]:
hour_weather['weekend'] = False  # Initialize the 'weekend' column with False
hour_weather.loc[(hour_weather.index % 168 >= 24) & (hour_weather.index % 168 < 72), 'weekend'] = True